<template>
    <component :is="component" v-bind="options">
    </component>
</template>

<script>
export default {
    props: ['componentName', 'options'],
    computed: {
        component() {
            return () => import('~/components/' + this.componentName)
        }
    }
}
</script>

<style>

</style>
