<template>
    <b-container>
        <b-row>
            <b-col sm="2">
                {{title}}
            </b-col>
            <transition name="fade">
                <nuxt-child :key="$route.params.alias"></nuxt-child>
            </transition>
        </b-row>
    </b-container>
</template>

<script>
export default {
    props: ['title']
}
</script>

<style>

</style>
