<template>
    <div>
        <nav>
            <nuxt-link to="/">home</nuxt-link>
            <nuxt-link to="/uk/">uk/</nuxt-link>
            <nuxt-link to="/uk">uk</nuxt-link>
            <nuxt-link to="/ru/">ru/</nuxt-link>
            <nuxt-link to="/en">en</nuxt-link>
            <nuxt-link to="/blog">/blog</nuxt-link>
            <nuxt-link to="/resource-center">/resource-center</nuxt-link>
            <nuxt-link to="/ru/resource-center">/ru/resource-center</nuxt-link>
            <nuxt-link to="/resource-center/2">/resource-center/2</nuxt-link>
            <nuxt-link to="/ru/resource-center/2">/resource-center/2</nuxt-link>
        </nav>

        <router-view></router-view>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
