<template>
    <div>
        <div v-for="(n, i) in blocks" :key="i">{{n.componentName}}</div>
    </div>
</template>

<script>
import asyncData from '~/mixins/asyncData';

export default {
    mixins: [asyncData]
}
</script>

<style>

</style>
