<template>
    <Dynamic componentName="SectionResourceCenterSingle" />
</template>

<script>

import Dynamic from '~/components/Dynamic'

export default {
    components: { Dynamic },
    async asyncData({ params }) {
        let { alias } = params;

        console.log(alias)
    },

    head() {
        return { title: this.$route.params.alias }
    }
}
</script>

<style>

</style>
