<template>
    <main>
        <Dynamic v-bind="block" v-for="(block, i) in blocks" :key="i" />
    </main>
</template>

<script>
import asyncData from '~/mixins/asyncData';
import Dynamic from '~/components/Dynamic'

export default {
    components: { Dynamic },
    mixins: [asyncData]
}
</script>

<style>
.fade {
    transition: 1s;
}

.fade-enter,
.fade-before-leave {
    opacity: 1;
}

.fade-leave,
.fade-before-enter {
    opacity: 0;
}
</style>
